html {
  /* background-color: AntiqueWhite; */
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFB045;
}

.header {
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 20px 0px;
}

.main-container {
  /* background-color: LightGray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.progress-bar {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: #2F404E;
  margin: 0px 10px;
}

.clear-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clear-button.button  {
  max-width: 80px;
  font-size: 20px;
  height: 40px;
}


.progress-bar>.complete {
  background-color: #7EA4CD;
}

.title-container {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.title {
  /* border-color: #2F404E;
  border-style: solid;
  border-width: 2px; */
  border-bottom: 2px solid #2F404E;
  /* border-radius: 10px; */
  padding: 0px 20px 0px 20px;
  margin: 10px;
  color: #2F404E
}

.buttons-sub-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto;
}

.button {
  color: white;
  font-size: 20px;
  background-color: #2F404E;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .5s ease;
}

.button:hover {
  background-color: black;
  color: yellow;
}

@media (max-width:768px) {
  .button {
    width: 100%;
  }
}

.results-sub-container {
  max-width: 300px;
  margin: 30px auto;
  min-height: 75px;
  color: #2F404E;
  border-color: #2F404E;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  /* background-color: green; */
}

.results-sub-container .row {
  /* border-color: yellow;
  border-style: solid;
  border-width: 2px; */
  display: flex;
  display: wrap;
  align-items: center;
}

.results-sub-container .results-title {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #2F404E;
    border-radius: 10px 10px 0px 0px;
    padding:20px;
    margin:-1px;
    /* border-bottom: 2px solid #2F404E; */

}
.results-title h2 {
  margin:0;
}

.row .icon {
  font-size: 3em;
  padding: 20px;
  flex-grow: 1;
}

.row .description {
  flex-grow: 2;
}

.hide {
  display: none;
}


/*****************/

/*** Open Sans ***/

/*****************/

h1 {
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

h2 {
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

h3 {
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p, a {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Open Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
